article {
  /* border: 1px solid; */
  /* padding: 0 8px; */
  /* width: 200px; */
  box-shadow: 0 1px 2px gray;
  border-radius: 4px;
}

figure {
  margin: 0;
}

.product {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product > main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
}
